.home-card {
  background-color: #343a40;
  border-radius: 5px;
}

.card-footer {
  background-color: grey;
}

.portrait {
  margin: auto;
  float: left;
  max-width: 325px;
  height: auto;
  margin-right: 20px;
  border-radius: 50%;
}

.card-contents {
  margin: 4rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5,
.h5 {
  font-size: 40px;
}

span {
  color: #fcc029;
  font-weight: 600;
}

.footer-title {
  color: black;
}

@media all and (max-width: 667px) {
  .portrait {
    float: none;
  }
}
