/* Colors
Grey: #808080;
DarkGrey: #343a40;
Midnight: #282C34;
GoldenRod: #FCC029;
GhostWhite: #F8F9Fa;
*/

:root {
  --Grey: #808080;
  --DarkGrey: #343a40;
  --Midnight: #282c34;
  --GoldenRod: #fcc029;
  --Ghost: #f8f9fa;
}

.home-card {
  background-color: var(--DarkGrey);
  border-radius: 5px;
}

.home-card-footer {
  background-color: var(--Grey);
}

.portrait {
  margin: auto;
  float: left;
  max-width: 325px;
  height: auto;
  margin-right: 20px;
  border-radius: 50%;
}

.card-contents {
  margin: 4rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5,
.h5 {
  font-size: 40px;
}

span {
  color: var(--GoldenRod);
  font-weight: 600;
}

.footer-title {
  color: var(--Midnight);
}

@media all and (max-width: 667px) {
  .portrait {
    float: none;
  }
}
