/* Colors
Grey: #808080;
DarkGrey: #343a40;
Midnight: #282C34;
GoldenRod: #FCC029;
GhostWhite: #F8F9Fa;
*/

:root {
  --Grey: #808080;
  --DarkGrey: #343a40;
  --Midnight: #282c34;
  --GoldenRod: #fcc029;
  --Ghost: #f8f9fa;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--Midnight);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--Ghost);
}

.home-component {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.App-logo {
  margin: 0;
  padding: 1rem 2rem 1rem 2rem;
  height: 30vmin;
  pointer-events: none;
  border-radius: 100px;
}

.page-footer {
  display: flex;
  justify-content: flex-end;
  max-width: 88vw;
  background-color: var(--Grey);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 980px) {
  .home-section {
    min-height: 72rem;
  }
}
