/* Colors
Grey: #808080;
DarkGrey: #343a40;
Midnight: #282C34;
GoldenRod: #FCC029;
GhostWhite: #F8F9Fa;
*/

:root {
  --Grey: #808080;
  --DarkGrey: #343a40;
  --Midnight: #282c34;
  --GoldenRod: #fcc029;
  --Ghost: #f8f9fa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: var(--Ghost);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
